h1,
p {
  font-family: sans-serif;
}

.banner {
  display: flex;
  align-items: center;
}

.lmj-title {
  padding-left: 32px;
}

.lmj-logo {
  height: 45px;
  width: 45px;
}

.cart {
  color: white;
  background-color: #31b572;
  padding: 32px;
  position: absolute;
}

.filters {
  text-align: center;
  padding-top: 30px;
}

.lmj-categories-select {
  margin-right: 15px;
}

.lmj-layout-inner {
  display: flex;
  flex-direction: row;
}

.lmj-plant-item-cover {
  height: 220px;
  width: 220px;
  border-radius: 20px;
  object-fit: cover;
}

.lmj-plant-item {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
}

.lmj-shopping-list {
  width: 100%;
}

.list-product {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.lmj-sales {
  position: absolute;
  right: 0px;
  top: 10px;
  font-weight: 500;
  color: white;
  padding: 5px 10px;
  background-color: #31b572;
}
